<% if(user){ %>
    <%- include('../partials/adminPartials/header.ejs') %>
<main>
    <% if (successMessages && successMessages.length > 0) { %>
        <div class="alert alert-success alert-dismissible fade show w-75 mx-5" role="alert">
            <% for (let message of successMessages) { %>
                <p><%= message %></p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (errorMessages && errorMessages.length > 0) { %>
        <div class="alert alert-danger alert-dismissible fade show w-75 mx-5" role="alert" >
            <% for (let message of errorMessages) { %>
                <p><%= message %></p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <div class="tabs custom-tabs">
        <h1 class="tabs-header">Courses</h1>
        <div class="tabs-list-holder">
            <ul class="tabs-list mb-2" id="majors-tab" role="tablist">
                <li class="tab-item" role="presentation">
                    <button class="tab-btn active" id="add-new-cor-tab" data-bs-toggle="pill" data-bs-target="#add-new-cor-cont" type="button" role="tab" aria-controls="add-new-cor-tab" aria-selected="true">Add New Course</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="add-cor-sgst-tab" data-bs-toggle="pill" data-bs-target="#add-cor-sgst-cont" type="button" role="tab" aria-controls="add-cor-sgst-tab" aria-selected="false">Add New Course from Susgestion</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="update-cor-tab" data-bs-toggle="pill" data-bs-target="#update-cor-cont" type="button" role="tab" aria-controls="update-cor-tab" aria-selected="false">Update Course</button>
                </li>
                <li class="tab-item" role="presentation">
                    <button class="tab-btn" id="delete-cor-tab" data-bs-toggle="pill" data-bs-target="#delete-cor-cont" type="button" role="tab" aria-controls="delete-cor-tab" aria-selected="false">Delete Course</button>
                </li> 
            </ul>
        </div>
    </div>
    <div class="container cate-container">
        <div class="tab-content our-tab-content" id="majors-tabContent">
            <div class="tab-pane fade show active add-new-cate" id="add-new-cor-cont" role="tabpanel" aria-labelledby="add-new-cate-tab" tabindex="0">
                <form class="step-form-holder" id="addNewCorForm" action="/admins/courses" method="POST" enctype="multipart/form-data">
                    <h1 class="step-form-header">Add New Course</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots">1</span>
                        <span class="step-dots">2</span>
                        <span class="step-dots">3</span>
                        <span class="step-dots">4</span>
                        <!-- <span class="step-dots">5</span> -->
                        <!-- <span class="step-dots">6</span> -->
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newCorName" class="form-label">Course Name</label>
                            <input type="text" name="name" class="form-control" id="newCorName" placeholder="Enter Course Name">
                        </div>
                        <label for="newCorDesc" class="form-label">Course Description</label>
                        <div class="form-floating mb-3">
                            <textarea name="description" class="form-control" id="newCorDesc"></textarea>
                            <label for="newCorDesc">Course Description</label>
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="addCorChooseCate" class="form-label">Choose Major</label>
                            <select name="majorId" class="form-select" id="addCorChooseCate">
                                <% majors.forEach(function (major) { %>
                                    <option value="<%= major._id %>">
                                        <%= major.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="addCorChooseCity" class="form-label">Choose Branch</label>
                            <select name="branchId" class="form-select" id="addCorChooseCity">
                                <% branchs.forEach(function (branch) { %>
                                    <option value="<%= branch._id %>">
                                        <%= branch.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newCorPic" class="form-label">Course Image</label>
                            <input type="file" name="image" class="form-control" id="newCorPic">
                        </div>
                        <div class="mb-3">
                            <label for="newCorMat" class="form-label">Course Material</label>
                            <input type="file" name="document" class="form-control" id="newCorMat">
                        </div>
                    </div>
                    <div class="step-form">
                        <div class="mb-3">
                            <label for="newCorCost" class="form-label">Course Cost <span>(Optional)</span></label>
                            <input type="text" name="cost" class="form-control" id="newCorCost" placeholder="Enter How Much The course Will Cost">
                        </div>
                        <div class="mb-3">
                            <label for="newCorTime" class="form-label">Course Credit Hour <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="newCorTime" placeholder="Enter Duration of Course in hours">
                        </div>
                        <div class="mb-3">
                            <label for="newCorPre" class="form-label">Course Prerequisite</label>
                            <input type="text" name="coursePrerequisite" class="form-control" id="newCorPre" placeholder="Enter The Prerequisite Courses Names">
                        </div>
                    </div>
                    <div class="step-buttons">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade update-cate" id="add-cor-sgst-cont" role="tabpanel" aria-labelledby="add-cor-sgst-tab" tabindex="0">
                <form class="step-form-holder" id="addNewCorSgstForm" action="/admins/courses" method="POST" enctype="multipart/form-data">
                    <h1 class="step-form-header">Add New Course from Suggestions</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots-two">1</span>
                        <span class="step-dots-two">2</span>
                        <span class="step-dots-two">3</span>
                        <span class="step-dots-two">4</span>
                        <span class="step-dots-two">5</span>
                        <span class="step-dots-two">6</span>
                        <span class="step-dots-two">7</span>
                        <span class="step-dots-two">8</span>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="addCorChooseSgst" class="form-label">Choose Suggestions</label>
                            <select name="suggestName" class="form-select" id="addCorChooseSgst">
                                <% let checkSuggestions = false %>
                                <% suggestions.forEach(function (suggest) { %>
                                    <% if(suggest.status){ %>
                                        <option value="<%= suggest._id %>">
                                            <%= suggest.name %>
                                        </option>
                                        <% checkSuggestions = true %>
                                    <% } %>
                                <% }); %>
                                <% if(!checkSuggestions){ %>
                                    <option disabled selected>There is no Suggestions yet.</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newCorNameSgst" class="form-label">Course Name</label>
                            <input type="text" name="name" class="form-control" id="newCorNameSgst" placeholder="Enter Course Name" value="<%= suggestions[0].name %>">
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="description" class="form-control" id="newCorDescSgst"><%= suggestions[0].description %></textarea>
                            <label for="newCorDescSgst">Course Description</label>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="the-choice">
                            <div class="choice">
                                <input type="radio" name="imageChangeControl" id="imageChangeControl1" class="radioHidden" value="old" checked>
                                <label for="imageChangeControl1" class="img-choice-select">
                                    <div class="img-holder">
                                        <img src="<%= suggestions[0].profile_img %>" alt="Course Image" id="OldImageToAddSgst">
                                        <input type="hidden" id="oldCorPicSgstCdId" name="oldImage" value="<%= suggestions[0].cloudinary_id %>">
                                        <input type="hidden" id="OldImageToAddSgstInp" name="oldImageProfile" value="<%= suggestions[0].profile_img %>">
                                    </div>
                                </label>
                                <h4>Keep The Suggested Image</h4>
                            </div>
                            <div class="choice">
                                <input type="radio" name="imageChangeControl" id="imageChangeControl2" class="radioHidden" value="new">
                                <label for="imageChangeControl2" class="img-choice-select">
                                    <div>
                                        <input type="file" name="image" class="form-control" id="newCorPicSgst">
                                    </div>
                                </label>
                                <h4>Add New Image</h4>
                            </div>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="addCorSgstChooseCate" class="form-label">Choose Major</label>
                            <select name="majorId" class="form-select" id="addCorSgstChooseCate">
                                <% majors.forEach(function (major) { %>
                                    <% if(major._id.toString() ==  suggestions[0].majorId.toString()) { %>
                                        <option value="<%= major._id %>" selected>
                                            <%= major.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= major._id %>">
                                            <%= major.name %>
                                        </option>
                                    <% } %>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newCorLocationSgst" class="form-label">Course Location</label>
                            <input type="text" name="location" class="form-control" id="newCorLocationSgst" placeholder="Google Map Embed Link" value="<%= suggestions[0].location %>">
                        </div>
                        <div class="mb-3">
                            <label for="addCorSgstChooseCity" class="form-label">Choose City</label>
                            <select name="branchId" class="form-select" id="addCorSgstChooseCity">
                                <% branchs.forEach(function (branch) { %>
                                    <% if(branch._id.toString() ==  suggestions[0].branchId.toString()) { %>
                                        <option value="<%= branch._id %>" selected>
                                            <%= branch.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= branch._id %>">
                                            <%= branch.name %>
                                        </option>
                                    <% } %>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newCorStartDtSgst" class="form-label">Course Start Date <span>(Optional)</span></label>
                            <input type="date" name="startDate" class="form-control" id="newCorStartDtSgst">
                        </div>
                        <div class="mb-3">
                            <label for="newCorEndDtSgst" class="form-label">Course End Date <span>(Optional)</span></label>
                            <input type="date" name="endDate" class="form-control" id="newCorEndDtSgst">
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="mb-3">
                            <label for="newCorCostSgst" class="form-label">Course Cost <span>(Optional)</span></label>
                            <input type="text" name="cost" class="form-control" id="newCorCostSgst" value="<%= suggestions[0].cost %>">
                        </div>
                        <div class="mb-3">
                            <label for="newCorTimeSgst" class="form-label">Course Time Duration <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="newCorTimeSgst" placeholder="Enter Duration of Course in hours" value="<%= suggestions[0].timeDuration %>">
                        </div>
                    </div>
                    <div class="step-form-two">
                        <div class="form-floating mb-3">
                            <textarea type="text" name="contact" class="form-control" id="newCorContactSgst"><%= suggestions[0].contact %></textarea>
                            <label for="newCorContactSgst">Course Contacts Information<span>(Optional)</span></label>
                        </div>
                    </div>
                    <div class="step-buttons">
                        <% if(!checkSuggestions){ %>
                            <button type="button" disabled>No Suggestions</button>
                            <button type="button" id="prevBtnTwo" onclick="nextPrevTwo(-1)" hidden>Previous</button>
                            <button type="button" id="nextBtnTwo" onclick="nextPrevTwo(1)" hidden>Next</button>
                        <% } else { %>
                            <button type="button" id="prevBtnTwo" onclick="nextPrevTwo(-1)">Previous</button>
                            <button type="button" id="nextBtnTwo" onclick="nextPrevTwo(1)">Next</button>
                        <% }%>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade delete-cate" id="update-cor-cont" role="tabpanel" aria-labelledby="update-cor-tab" tabindex="0">
                <form class="step-form-holder" id="updateCorForm" action="/admins/courses/update/<%= courses[0]._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <h1 class="step-form-header">Update Course</h1>
                    <div class="step-dots-holder">
                        <span class="step-dots-three">1</span>
                        <span class="step-dots-three">2</span>
                        <span class="step-dots-three">3</span>
                        <span class="step-dots-three">4</span>
                        <span class="step-dots-three">5</span>
                        <!-- <span class="step-dots-three">6</span> -->
                        <!-- <span class="step-dots-three">7</span> -->
                        <!-- <span class="step-dots-three">8</span> -->
                    </div>
                    <div class="step-form-three">
                        <div class="mb-3">
                            <label for="uptCorChoose" class="form-label">Choose Course</label>
                            <select name="CourseChosen" class="form-select" id="uptCorChoose">
                                <% courses.forEach(function (course) { %>
                                        <option value="<%= course._id %>">
                                            <%= course.name %>
                                        </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-three">
                        <div class="mb-3">
                            <label for="uptCorName" class="form-label">Course Name</label>
                            <input type="text" name="name" class="form-control" id="uptCorName" placeholder="Enter Course Name" value="<%= courses[0].name %>">
                        </div>
                        <label for="uptCorDesc" class="form-label">Course Description</label>
                        <div class="form-floating mb-3">
                            <textarea name="description" class="form-control" id="uptCorDesc"><%= courses[0].description %></textarea>
                            <label for="uptCorDesc">Course Description</label>
                        </div>
                    </div>
                    <div class="step-form-three">
                        <div class="mb-3">
                            <label for="uptCorChooseCate" class="form-label">Choose Major</label>
                            <select name="majorId" class="form-select" id="uptCorChooseCate">
                                <% majors.forEach(function (major) { %>
                                    <% if(major._id.toString() ==  courses[0].majorId.toString()) { %>
                                        <option value="<%= major._id %>" selected>
                                            <%= major.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= major._id %>">
                                            <%= major.name %>
                                        </option>
                                    <% } %>
                                <% }); %>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="uptCorChooseCity" class="form-label">Choose City</label>
                            <select name="branchId" class="form-select" id="uptCorChooseCity">
                                <% branchs.forEach(function (branch) { %>
                                    <% if(branch._id.toString() ==  courses[0].branchId.toString()) { %>
                                        <option value="<%= branch._id %>" selected>
                                            <%= branch.name %>
                                        </option>
                                    <% } else { %>
                                        <option value="<%= branch._id %>">
                                            <%= branch.name %>
                                        </option>
                                    <% } %>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="step-form-three">
                        <div class="the-choice">
                            <div class="choice">
                                <input type="radio" name="imageChangeControl" id="eveImageChangeControl1" class="radioHidden" value="old" checked>
                                <label for="eveImageChangeControl1" class="img-choice-select">
                                    <div class="img-holder">
                                        <img src="<%= courses[0].profile_img %>" alt="Course Image" id="corOldImageToUpt" <%= courses[0]._id %>>
                                        <input type="hidden" id="corOldCorPicCdId" name="corOldImage" value="<%= courses[0].cloudinary_id %>">
                                        <input type="hidden" id="corOldImageToUptInp" name="corOldImageProfile" value="<%= courses[0].profile_img %>">
                                    </div>
                                </label>
                                <h4>Keep The Suggested Image</h4>
                            </div>
                            <div class="choice">
                                <input type="radio" name="imageChangeControl" id="corImageChangeControl2" class="radioHidden" value="new">
                                <label for="corImageChangeControl2" class="img-choice-select">
                                    <div>
                                        <input type="file" name="image" class="form-control" id="uptCorPic">
                                    </div>
                                </label>
                                <h4>Add New Image</h4>
                            </div>
                        </div>
                    </div>
                    <div class="step-form-three">
                        <div class="mb-3">
                            <label for="uptCorCost" class="form-label">Course Cost <span>(Optional)</span></label>
                            <input type="text" name="cost" class="form-control" id="uptCorCost" value="<%= courses[0].cost %>">
                        </div>
                        <div class="mb-3">
                            <label for="uptCorTime" class="form-label">Course Credit Hour <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="uptCorTime" placeholder="Enter Duration of Course in hours" value="<%= courses[0].timeDuration %>">
                        </div>
                        <div class="mb-3">
                            <label for="upCorPre" class="form-label">Course Prerequisite <span>(Optional - Duration in hours)</span></label>
                            <input type="text" name="timeDuration" class="form-control" id="upCorPre" placeholder="Enter The Prerequisite Courses Names" value="<%= courses[0].coursePrerequisite %>">
                        </div>
                    </div>
                    <div class="step-buttons">
                        <button type="button" id="prevBtnThree" onclick="nextPrevThree(-1)">Previous</button>
                        <button type="button" id="nextBtnThree" onclick="nextPrevThree(1)">Next</button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade delete-cate" id="delete-cor-cont" role="tabpanel" aria-labelledby="delete-cor-tab" tabindex="0">
                <form class="step-form-holder" id="delCorForm" action="/admins/courses/delete/<%=courses[0]._id %>?_method=DELETE" method="POST">
                    <h1 class="step-form-header">Delete Course</h1>
                    <div class="step-form-showed">
                        <label for="delCorChoose" class="form-label">Choose Course</label>
                        <select name="name" class="form-select" id="delCorChoose">
                            <% courses.forEach(function (course) { %>
                                <option value="<%= course._id %>">
                                    <%= course.name %>
                                </option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="step-buttons">
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script>
    let addCorSgstChooseCate = document.getElementById("addCorSgstChooseCate");
    let addCorSgstChooseCity = document.getElementById("addCorSgstChooseCity");
    let addCorSgstChooseCateIndex;
    let addCorSgstChooseCityIndex;
    let updateCorForm = document.getElementById("updateCorForm");
    let uptCorChooseCate = document.getElementById("uptCorChooseCate");
    let uptCorChooseCateIndex;
    let uptCorChooseCity = document.getElementById("uptCorChooseCity");
    let uptCorChooseCityIndex;
    let delCorForm = document.getElementById("delCorForm");
    let theForm = document.getElementsByTagName('form')[0];
    let theFormTwo = document.getElementsByTagName('form')[1];
    let theFormThree = document.getElementsByTagName('form')[2];
    $(document).ready(function() {
        $('#addCorChooseSgst').change(function() {
            $.ajax({
                url: `/admins/courses/ajaxSuggest/${$(this).val()}`,
                dataType: 'json', // specify data type
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    document.getElementById('newCorNameSgst').setAttribute('value', `${data.name}`);
                    document.getElementById('newCorDescSgst').innerHTML = `${data.description}`;
                    // Find the index of the option with major Id
                    addCorSgstChooseCateIndex = Array.from(addCorSgstChooseCate.options).findIndex(option => option.value.toString() == data.majorId.toString());
                    // Set the selected index to the index of the matching option
                    addCorSgstChooseCate.selectedIndex = addCorSgstChooseCateIndex;
                    document.getElementById('oldCorPicSgstCdId').setAttribute('value', `${data.cloudinary_id}`);
                    document.getElementById('newCorLocationSgst').setAttribute('value', `${data.location}`);
                    // Find the index of the option with branch Id
                    addCorSgstChooseCityIndex = Array.from(addCorSgstChooseCity.options).findIndex(option => option.value.toString() == data.branchId.toString());
                    // Set the selected index to the index of the matching option
                    addCorSgstChooseCity.selectedIndex = addCorSgstChooseCityIndex;
                    document.getElementById('newCorCostSgst').setAttribute('value', `${data.cost}`);
                    document.getElementById('newCorTimeSgst').setAttribute('value', `${data.timeDuration}`);
                    document.getElementById('newCorContactSgst').innerHTML = `${data.contact}`;
                    document.getElementById('OldImageToAddSgst').setAttribute('src', `${data.profile_img}`);
                    document.getElementById('OldImageToAddSgstInp').setAttribute('value', `${data.profile_img}`);
                },
                error: function() {
                    console.log('Error!');
                }
            });
        });
        $('#uptCorChoose').change(function() {
            $.ajax({
                url: `/admins/courses/ajaxCourse/${$(this).val()}`,
                dataType: 'json', // specify data type
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    updateCorForm.setAttribute('action', `/admins/courses/update/${data._id}?_method=PUT`);
                    updateCorForm.setAttribute('method', `POST`);
                    updateCorForm.setAttribute('enctype', `multipart/form-data`);
                    document.getElementById('uptCorName').setAttribute('value', `${data.name}`);
                    document.getElementById('uptCorDesc').innerHTML = `${data.description}`;
                    // Find the index of the option with major Id
                    uptCorChooseCateIndex = Array.from(uptCorChooseCate.options).findIndex(option => option.value.toString() == data.majorId.toString());
                    // Set the selected index to the index of the matching option
                    uptCorChooseCate.selectedIndex = uptCorChooseCateIndex;
                    document.getElementById('corOldCorPicCdId').setAttribute('value', `${data.cloudinary_id}`);
                    document.getElementById('uptCorLocation').setAttribute('value', `${data.location}`);
                    // Find the index of the option with branch Id
                    uptCorChooseCityIndex = Array.from(uptCorChooseCity.options).findIndex(option => option.value.toString() == data.branchId.toString());
                    // Set the selected index to the index of the matching option
                    uptCorChooseCity.selectedIndex = uptCorChooseCityIndex;
                    document.getElementById('uptCorCost').setAttribute('value', `${data.cost}`);
                    document.getElementById('uptCorTime').setAttribute('value', `${data.timeDuration}`);
                    document.getElementById('uptCorContact').innerHTML = `${data.contact}`;
                    document.getElementById('corOldImageToUpt').setAttribute('src', `${data.profile_img}`);
                    document.getElementById('corOldImageToUptInp').setAttribute('value', `${data.profile_img}`);
                },
                error: function() {
                    console.log('Error!');
                }
            });
        });
        $('#delCorChoose').change(function() {
            $.ajax({
                url: `/admins/courses/ajaxCourse/${$(this).val()}`,
                dataType: 'json', // specify data type
                type: 'GET',
                success: function(data) {
                    console.log(data)
                    delCorForm.setAttribute('action', `/admins/courses/delete/${data._id}?_method=DELETE`);
                    delCorForm.setAttribute('method', `POST`);
                },
                error: function() {
                    console.log('Error!');
                }
            });
        });
    });
</script>
<%- include('../partials/adminPartials/footer.ejs') %>
<% } else { %>

    <div class="adminBasicContainer">

        <h1 class="titleOne">Welcome Admin</h1>
        
        
        <a href="/auth/google" class="login">
            <button type="button" class="btn btn-primary">Login</button>
          </a>
        
        </div>
<% }  %>